.git
.github
.kiro
.kilocode
.gitignore
.pre-commit-config.yaml
.task
.tools
c.out
completions
docs
manpages
profiles
vendor
LICENSE
CREDITS.md
README.md
Taskfile.yml
Dockerfile*
docker-compose.yml
*.key
*.bundle
*.sigstore.json
