.git
.github
.kiro
.kilocode
.gitignore
.pre-commit-config.yaml
c.out
completions
docs
manpages
profiles
vendor
LICENSE
CREDITS.md
README.md
checkmake.ini
Makefile
Dockerfile*
docker-compose.yml
go-sort-out-gh-actions
go-sort-out-gh-actions.key
