[[- $app := ds "app" -]]
GITHUB_TOKEN=XXXX
GITHUB_USERNAME=XXXX
GH_GHCR_TOKEN=XXXX
TAP_GITHUB_TOKEN=XXXX
QUAY_USERNAME=XXXX
QUAY_TOKEN=XXXX
QUAY_OAUTH_TOKEN=XXXX
DOCKERHUB_USERNAME=XXXX
DOCKERHUB_TOKEN=XXXX
SNYK_TOKEN=XXXX

USERNAME=[[$app.name]]-user
