[[- $app := ds "app" -]]
[[- $compose := index $app "compose" -]]
[[- /* Docker repository names must be lower-case (e.g. RSSFFS -> rssffs) */ -]]
---
services:
  [[$app.name]]:
    container_name: [[$app.name]]
    image: toozej/[[ strings.ToLower $app.name ]]:latest
[[ if and $compose (index $compose "user") ]]    user: "[[ index $compose "user" ]]"
[[ end ]][[ if and $compose (index $compose "restart") ]]    restart: "[[ index $compose "restart" ]]"
[[ else ]]    restart: unless-stopped
[[ end ]]    security_opt:
      - no-new-privileges:true
    read_only: true
[[ if and $compose (index $compose "environment") ]]    environment:
[[ range $name, $value := index $compose "environment" ]]      [[$name]]: "[[$value]]"
[[ end ]][[ end ]][[ if and $compose (index $compose "envFile") ]]    env_file:
[[ range index $compose "envFile" ]]      - [[.]]
[[ end ]][[ end ]][[ if and $compose (index $compose "command") ]]    command:
[[ range index $compose "command" ]]      - "[[.]]"
[[ end ]][[ end ]][[ if and $compose (index $compose "ports") ]]    ports:
[[ range index $compose "ports" ]]      - "[[.]]"
[[ end ]][[ end ]][[ if and $compose (index $compose "volumes") ]]    volumes:
[[ range index $compose "volumes" ]]      - "[[.]]"
[[ end ]][[ end ]]    labels:
      - "traefik.enable=false"
      # labels below for publishing as web service
      # - "traefik.docker.network=traefik"
      # - "traefik.http.routers.[[$app.name]].rule=Host(`[[$app.name]].test`)"
      # - "traefik.http.routers.[[$app.name]].middlewares=http-redirect-https@file,headers@file"
      # - "traefik.http.routers.[[$app.name]]-secure.entrypoints=https"
      # - "traefik.http.routers.[[$app.name]]-secure.rule=Host(`[[$app.name]].test`)"
      # - "traefik.http.routers.[[$app.name]]-secure.middlewares=headers@file"
      # - "traefik.http.routers.[[$app.name]]-secure.tls=true"
    # networks:
      # - traefik
[[ if and $compose (index $compose "sidecars") ]]
[[- range $name, $sidecar := index $compose "sidecars" ]]
  [[$name]]:
    image: [[ index $sidecar "image" ]]
[[ if index $sidecar "containerName" ]]    container_name: [[ index $sidecar "containerName" ]]
[[ end ]][[ if index $sidecar "restart" ]]    restart: [[ index $sidecar "restart" ]]
[[ end ]][[ if index $sidecar "environment" ]]    environment:
[[ range $envName, $envValue := index $sidecar "environment" ]]      [[$envName]]: "[[$envValue]]"
[[ end ]][[ end ]][[ if index $sidecar "ports" ]]    ports:
[[ range index $sidecar "ports" ]]      - "[[.]]"
[[ end ]][[ end ]]
[[- end ]]
[[- end -]]
[[ if and $compose (index $compose "namedVolumes") ]]volumes:
[[ range index $compose "namedVolumes" ]]  [[.]]:
[[ end ]][[ end -]]
